<h1>Cats!</h1>

<h2>Delicous Burgers!</h2>

<ul>
  {{#each burger}}
    {{#unless this.newBurger}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="newBurgers" value="true">
          <button type="submit">Final Burger!</button>
        </form>

        {{> burger/delete-burgers}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Delicious Burgers!</h2>

<ul>
  {{#each burger}}
    {{#if this.newBurger}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="newBurger" value="false">
          <button type="submit">WAKE UP!</button>
        </form>

        {{> burger/delete-burgers}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleep">Burger?</label><br>
    <input type="radio" name="newBurger" value="1" checked> Final Burger!<br>
    <input type="radio" name="newBurger" value="0"> Awake
  </div>

  <button type="submit">Add Burger</button>
</form>

